<html>
  <head>
    <link rel="stylesheet" href = "/vendors/bootstrap/dist/css/bootstrap.css"/>
  </head>
  <body>
    <div class = "container">
     
          <ul class = "nav nav-tabs">
            <li {% if home %} class = "active" {% endif %}><a href = "/">Home</a></li>
            <li {% if !home %} class = "active" {% endif %}><a href = "/categories">Categories({{categories.length}})</a></li>
          </ul>
      
     <div class = "row">
       <div class = "col-sm-6">
          {% block content %}
          {% endblock %}
       </div>
       <div class = "col-sm-6">
         <h3>Data</h3>
          <pre> {{ JSON.stringify(categories, null, 2) }} </pre>
       </div> 
    </div>
  
    </div>
  </body>
</html>