{% extends './layout.html' %}

{% block content %}
<p>
<a class = 'btn btn-primary' href = '/products/add'>Add a Product</a>
</p>
<ul class = 'list-group'>
  {% for product in products %}
  <li class = 'list-group-item'>
  {{ product.name }}
  <a class = 'btn btn-default pull-right' href = '/products/{{ product.id }}/edit'>Edit</a>

  <form style = 'display:inline' method='POST' action='/products/{{ product.id }}?_method=DELETE'>
    <button type = 'submit' style='margin-right: 10px' class = 'btn btn-danger pull-right'>Delete</button>
  </form>
  <br clear = 'both'>
  </ll>
  {% endfor %}
</ul>
{% endblock %}
